/*TODO(#9): do i merge this colors into style.css?  */
:root {
	--errorRed: #c0392b;
}

.light-mode {
	--bgError: #f5f5f7;
	--borderError: #d1d1d6;
	--colorError: #222326;
	--colorParag: #222326;
}

.dark-mode {
	--bgError: #222326;
	--borderError: #44474a;
	--colorError: #f5f5f7;
	--colorParag: #e0e0e3;
}

#error-popup {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 998;

	background-color: var(--bgError);
	border: 1px solid var(--borderError);
	border-radius: 8px;
	box-shadow: 0 0 10px 0px rgba(192, 57, 43, 0.6);
	padding: 18px;
	min-width: 320px;
	max-width: 400px;
	transform: translate(-40px, -30px);
	font-family: var(--Segoe);
}

.error-message {
	display: flex;
	flex-direction: column;
	gap: 8px;

	& > h5 {
		padding-right: 20px;
		margin: 0;
		font-size: 1.3rem;
		letter-spacing: 0.01em;
		color: var(--colorError);
		font-weight: 700;

		& > strong {
			color: var(--errorRed);
		}
	}

	& > p {
		font-size: 1rem;
		font-weight: 400;
		color: var(--colorParag);
		margin: 0;
	}
}

.error-close {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	color: #b0b0b5;
	font-size: 1.3rem;
	cursor: pointer;
	transition: color 0.15s;
	padding: 0;
	line-height: 1;

	transition: color 0.3s ease-in-out, scale 0.1s ease-in-out;

	&:hover {
		color: var(--errorRed);
		scale: 1.05;
	}
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
	#error-popup {
		min-width: 180px;
		max-width: 300px;
		transform: translate(-10px, -10px);
	}
}
