#app-header {
	position: fixed;
	display: flex;
	justify-content: space-evenly;
	width: 100dvw;
	height: 60px;
	z-index: 10;
	right: 0;

	& > .header-nav {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background: rgba(var(--template_shadows_opp), 0.1);
		border-radius: 0px 0px 20px 20px;
		backdrop-filter: blur(10px);
		right: 0;
		padding: 10px 100px;

		animation: darkenHeader 1s linear both;
		animation-timeline: scroll();
		animation-range: 0 100dvh;

		& > .logo-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 5px;
			text-decoration: none;
			color: inherit;
			transition: scale 0.3s ease-in-out;

			& > img {
				width: 40px;
				height: 40px;
			}

			& > h6 {
				margin: 0;
			}

			&:hover {
				scale: 105%;
			}
		}
	}
}

.hamb-menu {
	flex: 1 1 0;
	display: flex;
	justify-content: space-evenly;
}

.hamb-button {
	display: none;
	padding: 5px !important;
	width: fit-content !important;
	transition: scale 0.3s ease-in-out !important;

	& > img {
		width: 100%;
		filter: var(--filter-invert);
	}

	&:hover {
		scale: 105%;
	}
}

.nav-list {
	flex: 1 1 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
	gap: 20px;

	& > li {
		font-family: var(--Montserrat);
		font-weight: 700;
		text-align: center;

		& > a {
			position: relative;
			display: inline-flex;
			text-decoration: none;
			overflow: hidden;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				background-color: var(--dark-gray);
				transform: translateY(100%);
				transition: transform 0.2s ease-in-out;
			}
			&:hover::after {
				animation: linePassingBy 0.2s ease-in-out 1 forwards;
			}
		}
	}
}

.scheme-switcher {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	gap: 10px;

	& > input {
		width: 200px;
		height: fit-content;
		border-radius: 5px;
	}

	& > #change-mode {
		outline: none;
		border: none;
		background: var(--white);
		border-radius: 9999px;
		padding: 5px;
		transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
		&:hover {
			transform: scale(1.05);
			filter: brightness(110%);
			cursor: pointer;
		}

		& > img {
			filter: var(--filter-invert);
		}
	}
}

#input-result {
	position: absolute;
	max-height: 400px;
	width: 400px;
	scale: 1;
	overflow-y: scroll;
	top: 100%;
	left: 0;

	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
	&::-webkit-scrollbar {
		display: none; /* Older Safari and Chromium */
	}

	& > .country-result {
		width: 200px;

		& .country-flag {
			width: 50px;
			height: auto;
		}

		& > .country-info {
			& > h6 {
				font-size: 0.9em;
			}
			& > p {
				font-size: 0.7em;
			}
		}

		& > .country-cca3 {
			font-size: 0.7em;
		}
	}
}

@keyframes darkenHeader {
	from {
		backdrop-filter: blur(10px);
		background: rgba(var(--template_shadows_opp), 0.1);
	}

	to {
		backdrop-filter: blur(0px);
		background: var(--light-gray);
	}
}
@keyframes linePassingBy {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(-20%);
	}
}

@media (max-width: 480px) {
}

@media (max-width: 768px) {
	.header-nav {
		padding: 10px 50px !important;
	}

	.logo-container {
		& > img {
			width: 20px !important;
			height: 20px !important;
		}
	}

	.hamb-button {
		height: 30px !important;
		width: 30px !important;
	}
}

@media (max-width: 1024px) {
	.hamb-button {
		display: inline-flex;
		justify-content: center;

		&:focus + .hamb-menu,
		&:active + .hamb-menu,
		&:focus-visible + .hamb-menu {
			transform: translateX(0%);
		}
	}

	.hamb-menu {
		z-index: 998 !important;
		background-color: var(--white);
		height: 100dvh;
		display: flex;
		flex-direction: column;
		justify-content: space-between !important;
		gap: 30px !important;
		position: fixed;
		flex: 0 0 1;
		top: 0;
		right: 0;
		transition: transform 0.5s ease-in-out;
		transform: translateX(100%);
		box-shadow: 4px 0 40px 10px rgba(var(--template_shadows_opp), 0.2);
		padding: 10px;
		backdrop-filter: blur(10px);

		&:focus-within,
		&:focus {
			transform: translateX(0%);
		}
	}

	.nav-list {
		margin-top: 50px;
		flex: initial !important;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.scheme-switcher {
		display: flex;
		flex-direction: row;
		align-items: flex-end;

		& > #change-mode {
			position: absolute !important;
			top: -95dvh;
			right: 0;

			transform: translate(-25%, 25%) scale(1) !important;

			&:hover {
				transform: translate(-25%, 25%) scale(1.05) !important;
			}
		}
		& > input {
			background: rgba(var(--template_shadows_opp), 0.3) !important;
			border: 2px solid var(--dark-gray) !important;
			color: var(--black) !important;
			width: 170px !important;
			margin-bottom: 10px;

			&::placeholder {
				color: var(--black) !important;
				opacity: 1 !important;
			}
		}
	}

	#input-result {
		top: 0;
		display: flex;
		flex-direction: column-reverse;
		transform: translate(-5%, -100%);
	}
}
