#app-footer {
	position: relative;
	width: 100dvw;
	height: 0px;

	top: 0;
	transform: translate(-10%, 0px);
	background-color: red;
	box-shadow: 0px 0px 100px 20px rgba(var(--template_shadows), 1);
}
